<script src="https://unpkg.com/imask"></script>
<div data-controller="imask">
  <%= simple_form_for @user do |f| %>
  <div>
    <%= f.input :name, label: 'Nome: '%>
  </div>
  <div>
    <%= f.input :email, label: 'Email: ' %>
  </div>
  <div>
    <%= f.input :phone , label: 'Telefone: ',
                         placeholder: '(__) _____-____',
                         hint: 'Digite o DDD',
                         id: 'phone'%>
  </div>
  <div>
    <%= f.input :cpf , label: 'CPF: ',
                       placeholder: '___.___.___-__',
                       id: 'cpf'%>
  </div>
  <%= f.button :submit %>
  <% end %>
</div>
