<p style="color: green"><%= notice %></p>
<div class="navbar">
  <h2>Usuários</h2>
  <%= link_to "Cadastrar usuário", new_user_path%>
</div>
<div>
  <div>
    <%= form_with url: users_path, method: :get do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-input",
            placeholder: "Pesquisar"
        %>
      <%= submit_tag "Buscar", name: "", class: "btn-flat" %>
    <% end %>
  </div>
</div>
<div>
  <div id="users" class="cards">
    <% @users.each do |user| %>
      <div class="user-card">
        <%= render user %>
        <p class="p-link">
          <%= link_to "Datalhes do usuário", user , class: "link"%>
        </p>
      </div>
    <% end %>
  </div>
</div>
